* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}

.divider {
    align-self: center;
    width: 250px;
    height: 3px;
    background-color: black;
    color: black;
    border: black;
    margin-bottom: 200px; 
}

.game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 300px;
    height: 360px;
    gap: 10px; 
    justify-content: center;
    align-content: center;
}

.letter {
    border: 4px solid grey;
    background: rgba(0,0,0,0);
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw; 
}

.letter.green {
    background-color: #6aaa64;
    border-color: #6aaa64;
    color: white;
}

.letter.yellow {
    background-color: #c9b458;
    border-color: #c9b458;
    color: white;
}

.letter.grey {
    background-color: #787c7e;
    border-color: #787c7e;
    color: white;
}

@keyframes flashRed {
    0%, 100% {
        background-color: transparent;
        border-color: #787c7e;
    }
    50% {
        background-color: rgba(255,0,0,0.5);
        border-color: red;
    }
}

.letter.incorrect {
    animation: flashRed 0.5s 3;
}

